[submodule "modules/ARINC615AManager"]
	path = modules/ARINC615AManager
	url = https://github.com/TCC-PES-2022/ARINC615AManager.git
	branch = main
[submodule "modules/tinyxml2"]
	path = modules/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "modules/libgcrypt"]
	path = modules/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "modules/libgpg-error"]
	path = modules/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "modules/BLSecurityManager"]
	path = modules/BLSecurityManager
	url = https://github.com/TCC-PES-2022/BLSecurityManager.git
	branch = main
